.footer__container{


    height: auto;
    background-color: var(--card-color);
    border-top: 2px solid var(--p-logo-text-color);
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;


}
.div__footer-container{
    color: var(--p-logo-text-color);

}