.footer__container{


    height: 100px;
    background-color: var(--card-color);
    border-top: 2px solid var(--p-logo-text-color);
    padding: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;

}
.div__footer-container{
    color: var(--p-logo-text-color);

}