.main__container{
    width: 100%;

}
.section__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 50px;



}
.div_service_intro{
    font-weight: 900;
    font-size: 48px;
    border-bottom: 6px solid var(--violet--color);
    width: 100%;
    color: var(--pink--color);
    letter-spacing: 3px;

}

.div_service_info{
    width: auto;
    height: auto;
    background-color: var(--card-color);
    border: 3px solid var(--violet--color);
    border-radius: 15px;
    padding: 40px;
    flex: 0 0 calc(50% - 20px);
    box-sizing: border-box;
}
.service_info_item_logo{
    color: var(--violet--color);
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

ul li::marker {
    color: var(--green-color);

}
ul li{
    color:var(--p-logo-text-color);
    font-size: 20px;
}
.section__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}