@import "base.css";
@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "services.css";

body{
    background-color: var(--body-background);
    font-family: var(--font-family--logo);
}