@import "reset.css";
@import "base.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "services.css";
@import "gallery.css";
@import "contacts.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--body-background);
    font-family: var(--font-family--logo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}

main {
    flex: 1;           /* розтягує контент */
}



/*adaptive for index*/
@media (max-width: 1000px ) {

    .div__logo-container{
        font-size: var(--tablet--logo);
        font-weight: 400;

    }
    .section__site_main_page_information_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }



    
}
@media (max-width: 807px ) {

    .section__info_adaptive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .div_service_info{

        flex: auto;
    }
    .div_service_intro{
        font-size: 38px;
    }
    .service_info_item_logo {
        font-size: 26px;
    }
    ul li{
        font-size: 16px;
    }
}


@media (max-width: 621px ) {
    .div__logo-container{
        font-size: 33px;
        font-weight: 400;

    }
    .nav__container {

        font-size: 17px;

    }
    .div__logo-container {
        font-size: 20px;
    }
    .card {

        margin: 0px;
    }






}



